<div>
   <div>
    <h2>Lista de Afazeres</h2>

    <ul>
        <li>
            <p>1 - Afazer Exemplo</p>
            <span>
                <input type="checkbox" />
                <button>Editar</button>
                <button>Excluir</button>
            </span>
        </li>
        <li>
            <p>2 - Afazer Exemplo 2</p>
            <span>
                <input type="checkbox" />
                <button>Editar</button>
                <button>Excluir</button>
            </span>
        </li>
        <h4>Nenhum item na lista de afazer!<br/>Adicione um abaixo v</h4>
    </ul>

    <input placeholder="Adicionar Afazer..."/>
    <button>Adicionar</button>
   </div>
</div>